<ion-content >
  <ion-grid class="content"  >
    <ion-row class="ion-justify-content-center ion-align-self-center">
      <ion-col  (click)="speek(lesson.lesson_name, lesson._id)" class="menu-btn ion-margin"
               size="3" size-md="2" *ngFor="let lesson of lessons" [ngStyle]="{'background-image' : getBackground() }">
        <div>
          <p class="text">{{lesson.lesson_name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button *ngIf="!muted" class="sound-btn" (click)="mute()"></button>
  <button *ngIf="muted" class="no-sound-btn" (click)="unmute()"></button>
  <button class="star-btn"  ></button>
</ion-content>
