input[type="file"]{
  visibility: hidden;
}

.header {
  width: 100%;
  background-color: #3f51b5;
  color: aliceblue;
}

h2 {
  padding: 20px ;
}

mat-dialog-content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

mat-form-field {
  width: 100%;
}

button{
  width: 100%;
}
