<div class="container scale-in-center">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6" >

      <mat-card class="p-2 p-sm-3 p-md-4">
        <div class="text-center mb-5 mt-5" >
          <img class="col-10 col-sm-8 col-md-7 img-fluid" src="../../assets/img/logo.png" alt="logo">
        </div>

        <p class="text-center mb-5">CONNECTEZ-VOUS À VOTRE COMPTE</p>

        <mat-card-content>

          <form  class="login-form" (submit)="onLogin(loginForm)" #loginForm="ngForm">

            <mat-form-field appearance="outline" class="col-12">
              <mat-label>E-mail</mat-label>
              <input matInput name="email" ngModel type="email" placeholder="E-Mail" >
              <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
<!--              <mat-error *ngIf="loginForm.get('username').hasError('required')">-->
<!--                Username is required-->
<!--              </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" ngModel name="password">
              <mat-icon matSuffix class="secondary-text">lock</mat-icon>
<!--              <mat-error>-->
<!--                Password is required-->
<!--              </mat-error>-->
            </mat-form-field>

            <button class="dialog-btn mb-5"  type="submit"  >
              Se Connecter
            </button>
          </form>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
