<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <p *ngIf="loading" style="background-color: red">a </p>

<!--      <p (click)="speek1('bonjour')" >test</p>-->

<!--      <p (click)="speek2('bonjour')" >test</p>-->
    <button (click)="start()">En Commence</button>

<!--      <div *ngFor="let module of modules">-->
<!--&lt;!&ndash;      <p (click)="speek('sdfgv')">{{module.module_name}}</p>&ndash;&gt;-->
<!--    </div>-->
  </div>
</ion-content>
