<div class="header">
  <h2 mat-dialog-title >Ajouter un module</h2>
</div>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSaveModule()">

    <mat-form-field appearance="outline" >
      <mat-label>Nom du module</mat-label>
      <input formControlName="module_name" matInput type="text" name="module_name" placeholder="Nom du Module">
    </mat-form-field>

    <div>
      <button mat-raised-button type="button" (click)="filePicker.click()">Upload Image</button>
      <input type="file" #filePicker (change)="onPickImage($event)">
    </div>

    <div   *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img class="image-preview"  [src]="imagePreview" [alt]="form.value.title">
    </div>


    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Save</button>
  </form>
</mat-dialog-content>
