.star-btn{
  outline: none;
  width: 3rem;
  height: 3rem;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/../../assets/img/etoile.png) ;
  position : absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.back-btn{
  outline: none;
  width: 3rem;
  height: 3rem;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/../../assets/img/back.png) ;
  position : absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.sound-btn {
  outline: none;
  width: 3rem;
  height: 3rem;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/../../assets/img/son.png) ;
  position : absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.no-sound-btn {
  outline: none;
  width: 3rem;
  height: 3rem;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/../../assets/img/noson.png) ;
  position : absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}
