
<!--<bu-->
<h4>Ajouter <button mat-button (click)="openAddDialog()">Ajouter</button></h4>
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover table" matSort>

  <ng-container matColumnDef="image">
    <th class="text-center title" mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td  mat-cell *matCellDef="let element">
      <img src="{{element.image}}">
    </td>
  </ng-container>

  <ng-container matColumnDef="_id">
    <th class="text-center title" mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
    <td  mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <ng-container matColumnDef="nom">
    <th class="text-center title" mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td  mat-cell *matCellDef="let element"> {{element.module_name}} </td>
  </ng-container>

  <ng-container matColumnDef="action" >
    <th class="text-center title" mat-header-cell *matHeaderCellDef > Action </th>
    <td class="text-center" mat-cell *matCellDef="let element">
      <button mat-raised-button
              type="button"
              matTooltip="Détails"
              [matTooltipPosition]="'above'"
              class="btn btn-primary  btn-link btn-just-icon">
        <i class="material-icons icon-blue" >
          subject
        </i>
      </button>
      <button mat-raised-button
              type="button"
              matTooltip="Modifier"
              [matTooltipPosition]="'above'"
              class="btn btn-primary btn-link btn btn-just-icon">
        <i class="material-icons icon-blue">
          edit
        </i>
      </button>
      <button mat-raised-button
              type="button"
              matTooltip="Supprimer"
              [matTooltipPosition]="'above'"
              class="btn btn-danger btn-link btn-sm btn-just-icon">
        <i class="material-icons">
          close
        </i>
      </button>
    </td>
  </ng-container>

  <tr style="background-color:#f2f4f7 ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
