<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Auto-resizing sidenav</p>
    <div><button mat-raised-button color="primary" routerLink="modules">Modules</button></div>
    <div><button mat-raised-button color="primary" routerLink="lessons">Lessons</button></div>
    <div><button mat-raised-button color="primary" routerLink="mots">Mots</button></div>
    <br>
    <div><button mat-raised-button color="primary" (click)="logout()">Logout</button></div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </app-header>
    <div>

    </div>
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
