.content {
  padding-top :20px;
  background: no-repeat center/cover url(../../assets/img/mbg.png) ;
  margin-top: -10px ;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 10px;
  min-height: 100vh;
}

.word-content {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 185, 79, 0.62);
}

.word {
  font-weight: bold;
  font-family: Acme;
  color : #fffdf4;
  text-shadow: -1px -1px 0 #4b2300, 1px -1px 0 #4b2300, -1px 1px 0#4b2300, 1px 1px 0 #4b2300;
  letter-spacing: 2px;
  font-size: 30px ;
}

.recherche {
  outline: none;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 29rem;
  background-color: rgba(255, 176, 57, 0.79);
  border : 2px solid #b96200 ;
  border-radius: 15px ;
  height: 2.5rem;
  padding: 0 0 0 20px;
  color : #7f3a00;
}

img {
  //border: 2px solid #b96200 ;
  border-radius: 20px;
}

::placeholder {
  color : #7f3a00;
  opacity: 1;
}

ion-col {
  padding: 0 !important;
}
