<div class="example-container">
  <mat-toolbar class="toolbar row justify-content-between">
    <h1 class="title">Espace Enseignant</h1>
    <button mat-icon-button matTooltip="Se déconnecter" [matTooltipPosition]="'above'" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar>

  <div class="subtoolbar row align-items-center" >
    <button class="back-btn" mat-icon-button matTooltip="Retour" [matTooltipPosition]="'above'" (click)="back()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <ng-content></ng-content>

</div>
