<ion-content>
  <div class="bg-box">
    <img class="bg" src="../../assets/img/bg.jpg" >
  </div>
  <ion-grid class="content" >
    <ion-row class="ion-justify-content-center ion-align-self-center">
      <ion-col (click)="speek(module.module_name, module._id)" class="menu-btn ion-margin slide-in-blurred-top btn" size="3"
               size-md="2" *ngFor="let module of modules" >
        <div>
          <p >{{module.module_name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

