input{
  margin: 8px 10px 0 0;
  font-size: 100%;
  color: #4d4d4d;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(96, 96, 96, 0.29);
  width: 50%;
  height: 45px;
}

mat-card-header {
  margin-bottom: 20px;
}

.btn {
  padding: 12px 15px 12px 15px;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
}

.btn:hover {
  background-color: #cbcbcb;
}

img {
  width: 100px;
  height: 100px;
}

mat-card {
  background-color: transparent ;
  box-shadow: none !important;
}

