<mat-card class="scale-in-center" >
  <mat-card-header>
    <input (keyup)="applyFilter($event)" type="search" matInput placeholder="Recherche">
  </mat-card-header>
  <mat-card-content>
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover table" matSort>

      <ng-container matColumnDef="explication">
        <th class="text-center title" mat-header-cell *matHeaderCellDef > Explication </th>
        <td  mat-cell *matCellDef="let element"> {{element.explication}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th class="text-center title" mat-header-cell *matHeaderCellDef > Nom </th>
        <td  mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th class="text-center title" mat-header-cell *matHeaderCellDef > Image </th>
        <td  mat-cell *matCellDef="let element">
          <img src="{{element.image}}">
        </td>
      </ng-container>


      <ng-container matColumnDef="action" >
        <th class="text-center title" mat-header-cell *matHeaderCellDef > Actions </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button
                  matTooltip="Modifier"
                  [matTooltipPosition]="'above'"
                  class="btn"
                  (click)="openEditDialog(element)">
            <i class="material-icons icon-blue">
              edit
            </i>
          </button>
          <button
                  matTooltip="Supprimer"
                  [matTooltipPosition]="'above'"
                  class="btn"
                  (click)="openDeleteDialog(element._id)">
            <i class="material-icons">
              close
            </i>
          </button>
        </td>
      </ng-container>

      <tr style="background-color:#f2f4f7 ;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </mat-card-content>
</mat-card>


