table {
  width: 100%;
}

tr ,th, td{
  text-align: center !important;
}

th {
  padding: 20px !important;
  color: #e7e7e7 !important;
  background-color: #414141;
}

td {
  vertical-align: middle !important;
  padding: 10px !important;
}
