.bg {
  width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.bg-box {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 10px;
}


.main-btn {
  font-family: Acme;
  font-size :160% ;
  font-weight: bold ;
  color : #fffdf4;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  letter-spacing: 2px;
  outline: none;
  width: 100%;
  height: 3.5rem;

  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../assets/img/main.png)
}

.title {
  width: 100%;
  height: 12rem;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../../assets/img/title1.png)
}

