<ion-content >
  <div class="bg-box">
    <img class="bg " src="../../assets/img/bg.jpg" >
  </div>
  <ion-grid class="content" >
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top" >
      <ion-col class="title slide-in-blurred-top shake-lr" size="8" size-md="6">

      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
      <ion-col size="5" size-md="2">
        <button  class="main-btn" (click)="start()">
          <span  *ngIf="!loading">En Commence</span>
          <ion-spinner *ngIf="loading" name="lines"></ion-spinner>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button *ngIf="!muted" class="sound-btn" (click)="mute()"></button>
  <button *ngIf="muted" class="no-sound-btn" (click)="unmute()"></button>
  <button class="star-btn"  ></button>


</ion-content>
